<div fxFlex="100%" fxLayout="column">
    <mat-toolbar class="border-radius-5px">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened" class="material-icons-outlined">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened" class="material-icons-outlined">close</mat-icon>
        </button>
        {{title}}
    </mat-toolbar>
    
    
      
    <mat-sidenav-container flexLayout="row" fxFlex="100%">
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 border-radius-5px" flexLayout="column" flexLayoutAlign="start start">
    
            <button mat-button class="menu-button mb-4" (click)="redirect('/')">
                <mat-icon>home</mat-icon>
                <span>{{ "HOME" | translate }}</span>
            </button>
    
            <button mat-button class="menu-button mb-4">
                <mat-icon>info</mat-icon>
                <span>{{ "ABOUT" | translate }}</span>
            </button>
    
            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button mb-4">
                <mat-icon>help</mat-icon>
                <span>{{"HELP" | translate}}</span>
            </button>
    
        </mat-sidenav>
    
        <mat-sidenav-content fxLayout="row" fxFlex="100%" flexLayoutAlign="start start">
            <div class="content mat-elevation-z8 border-radius-5px p-16" ngClass.gt-sm="ml-8" fxLayout="column" fxFlex="100%">
              <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
        
    </mat-sidenav-container>

    <mat-toolbar class="border-radius-5px height-30">
        <span class="t-align-center font-size-12 w-100-p">Copyright &copy; 2022</span>
    </mat-toolbar>
</div>

