$black: #000000;
$white: #FFFFFF;

$primary-50: #E1EDF6;
$primary-100: #bbd7ec;
$primary-200 : #8bb7d8;
$primary-300 : #699ec4;
$primary-400 : #88c3f0;
$primary-500 : #61a3d4;
$primary-600 : #7db7e6;
$primary-700 : #0153A2;
$primary-800 : #014999;
$primary-900 : #00388A;
$primary-A100 : #F0F6FC;
$primary-A200 : #C4DEFF;
$primary-A400 : #98C5FF;
$primary-A700 : #6DAEFF;

$primary-contrast-50 : #014999;
$primary-contrast-100 : #014999;
$primary-contrast-200 : #014999;
$primary-contrast-300 : #F7FBFF;
$primary-contrast-400 : #000000;
$primary-contrast-500 : #00388A;
$primary-contrast-600 : #E1EDF6;
$primary-contrast-700 : #E1EDF6;
$primary-contrast-800 : #E1EDF6;
$primary-contrast-900 : #E1EDF6;
$primary-contrast-A100 : #00388A;
$primary-contrast-A200 : #00388A;
$primary-contrast-A400 : #00388A;
$primary-contrast-A700 : #00388A;

$accent-25 : #FBFBFB;
$accent-50 : #E7EDF1;
$accent-100 : #D8E1E8;
$accent-200 : #B6BDC2;
$accent-300 : #909599;
$accent-400 : #696D70;
$accent-500 : #4D5052;
$accent-600 : #303233;
$accent-700 : #252627;
$accent-800 : #1E1F20;
$accent-900 : #131314;
$accent-A100 : #EF6E6E;
$accent-A200 : #EA4040;
$accent-A400 : #F60000;
$accent-A700 : #DD0000;

$accent-contrast-50 : #000000;
$accent-contrast-100 : #000000;
$accent-contrast-200 : #000000;
$accent-contrast-300 : #000000;
$accent-contrast-400 : #FFFFFF;
$accent-contrast-500 : #FFFFFF;
$accent-contrast-600 : #FFFFFF;
$accent-contrast-700 : #FFFFFF;
$accent-contrast-800 : #FFFFFF;
$accent-contrast-900 : #FFFFFF;
$accent-contrast-A100 : #000000;
$accent-contrast-A200 : #000000;
$accent-contrast-A400 : #FFFFFF;
$accent-contrast-A700 : #FFFFFF;

$warn-50 : #fee0e0;
$warn-100 : #fcb3b3;
$warn-200 : #fb8080;
$warn-300 : #f94d4d;
$warn-400 : #f72626;
$warn-500 : #f60000;
$warn-600 : #f50000;
$warn-700 : #f30000;
$warn-800 : #f20000;
$warn-900 : #ef0000;
$warn-A100 : #ffffff;
$warn-A200 : #ffe3e3;
$warn-A400 : #ffb0b0;
$warn-A700 : #ff9696;

$warn-contrast-50 : #000000;
$warn-contrast-100 : #000000;
$warn-contrast-200 : #000000;
$warn-contrast-300 : #000000;
$warn-contrast-400 : #FFFFFF;
$warn-contrast-500 : #FFFFFF;
$warn-contrast-600 : #FFFFFF;
$warn-contrast-700 : #FFFFFF;
$warn-contrast-800 : #FFFFFF;
$warn-contrast-900 : #FFFFFF;
$warn-contrast-A100 : #000000;
$warn-contrast-A200 : #000000;
$warn-contrast-A400 : #000000;
$warn-contrast-A700 : #000000;